extends layout

block title
    title realtimetagcloud
    
block append styles
    link(rel='stylesheet', type='text/css', href='/styles/jqcloud.css')
    link(rel='stylesheet', type='text/css', href='/styles/index.css')

block content
    div#content
    
block append scripts
    script(type='text/javascript')
        var hashtagcounts = $.parseJSON(!{JSON.stringify(data)});
    script(type='text/javascript', src='/js/libs/jqcloud.js')
    script(type='text/javascript', src='/js/index.js')