extends layout

block title
    title Tweet Word Cloud
    
block append styles
    link(rel='stylesheet', type='text/css', href='/styles/jqcloud.css')

block content
    div#content1
    
block append scripts
    script(type='text/javascript')
            var hashtagcounts = $.parseJSON(!{JSON.stringify(data)});
    script(type='text/javascript', src='/js/libs/jqcloud.js')
    script(type='text/javascript', src='/js/index.js')